* {
    text-decoration: none;
}
ion-content {
    --ion-background-color: #fafafa;
}
.image {
    border-radius: 100px;
}
.input {
    background-color: #ffffff;
    // width: 70%;
    border-radius: 10px;

    color: black;
    font-size: 14px;
    border: none;
    box-shadow: 0px 0px 10px -10px #030303;
    text-indent: 15px;
}
p {
    margin-left: 10px;
}
ion-button {
    --background: #000;
    --border-radius: 10px;
    --color: white;
    --font-size: 70px;
    margin-top: 20px;
}
ion-row {
    display: flex;
    justify-content: center;
}
.button {
    font-size: 15px;
}
a {
    color: #77bcdf;
    font-size: 18px;
    text-align: center;
    display: block;
    font-style: none;
    margin-top: 15px;
}

