<ion-content>
    <ion-grid>
      <ion-row>
        <ion-col>
          <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
            <ion-input formControlName="username" placeholder="Username" ngDefaultControl></ion-input>
            <ion-input formControlName="password" placeholder="Password" ngDefaultControl type="password"></ion-input>
            <ion-button type="submit" [disabled]="!loginForm.valid">Login</ion-button>
          </form>

          <a routerLink="/register">Sign Up</a>
        </ion-col>
      </ion-row>
    </ion-grid>
</ion-content>