<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <img class="image" src="../../../assets/home 5.jpg" />
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12">
        <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">

          <ion-item lines="none">
            <ion-label>First Name</ion-label>
            <ion-input class="input" formControlName="firstName" placeholder="First Name" ngDefaultControl></ion-input>
          </ion-item>

          <ion-item lines="none">
            <ion-label>Last name</ion-label>
            <ion-input class="input" formControlName="lastName" placeholder="Last Name" ngDefaultControl></ion-input>
          </ion-item>

          <ion-item lines="none">
            <ion-label>E-mail</ion-label>
            <ion-input class="input" formControlName="email" placeholder="Enter your e-mail" ngDefaultControl>
            </ion-input>
          </ion-item>

          <ion-item lines="none">
            <ion-label>Username</ion-label>
            <ion-input class="input" formControlName="username" placeholder="Enter your username" ngDefaultControl>
            </ion-input>
          </ion-item>

          <ion-item lines="none">
            <ion-label>Password</ion-label>
            <ion-input class="input" formControlName="password" placeholder="Password" ngDefaultControl type="password">
            </ion-input>
          </ion-item>

          <ion-item lines="none">
            <ion-label>Birth date</ion-label>
            <ion-datetime class="input" formControlName="birthDate" ngDefaultControl placeholder="Birth Date"
              displayFormat="YYYY-MM-DD" max="2003-11-02">
            </ion-datetime>
          </ion-item>

          <!-- <ion-item lines="none">
            <ion-label>State</ion-label>
            <ion-input class="input" formControlName="state" placeholder="State" ngDefaultControl></ion-input>
          </ion-item> -->

          <ion-list>
            <ion-item lines="none">
              <ion-label>State</ion-label>
              <ion-select class="input select" formControlName="state">
                <ion-select-option
                  *ngFor="let state of states"
                  [value]="state.value"
                >{{state.text}}</ion-select-option>
              </ion-select>
            </ion-item>
          </ion-list>

          <ion-item lines="none">
            <ion-label>City</ion-label>
            <ion-input class="input" formControlName="city" placeholder="City" ngDefaultControl></ion-input>
          </ion-item>

          <!-- gender -->
          <ion-list lines="none">
            <ion-radio-group formControlName="gender" ngDefaultControl>
              <ion-list-header>
                <ion-label>I am</ion-label>
              </ion-list-header>

              <ion-item>
                <ion-label>Male</ion-label>
                <ion-radio slot="start" value="1"></ion-radio>
              </ion-item>

              <ion-item>
                <ion-label>Female</ion-label>
                <ion-radio slot="start" value="0"></ion-radio>
              </ion-item>
            </ion-radio-group>
          </ion-list>

          <ion-button type="submit" expand="block" [disabled]="!registerForm.valid">Register</ion-button>
        </form>
        <!-- <a routerLink="../">Sign In</a> -->
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>