* {
    text-decoration: none;
}
ion-content {
    --ion-background-color: #fafafa;
}
.input {
    background-color: #ffffff;
    border-radius: 10px;

    // color: black;
    font-size: 14px;
    border: none;
    box-shadow: 0px 0px 10px -10px #030303;
    text-indent: 15px;
    --padding-start: 0;
}

.select {
    min-width: 70%;
    position: absolute;
    right: 10px;
    // color: red;
    // text-indent: 50px;
}

ion-input {
    max-width: 70%;
    position: absolute;
    right: 10px;
}
ion-datetime {
    width: 70%;
    position: absolute;
    right: 10px;
    // color: red;
    // text-indent: 50px;
}
ion-radio {
    --color: red;
}

ion-button {
    --background: #000;
    --border-radius: 10px;
    --color: white;
    --font-size: 70px;
    margin-top: 20px;
}

.input-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

::ng-deep .picker-button {
    color: red;
}
