<ion-content class="container">
    <ion-row class="ion-margin-horizontal ion-align-items-center">
        <ion-col>
            <form [formGroup]="transactionForm" (ngSubmit)="onSubmit()">
                <!-- card picker -->
                <ion-item lines="none">
                    <ion-label>Wallet</ion-label>

                    <ion-select class="input select" formControlName="from_wallet" placeholder="Pick your card">
                        <ion-select-option *ngFor="let wallet of wallets" [value]="wallet.id">{{wallet.name}}
                        </ion-select-option>
                    </ion-select>
                </ion-item>

                <!-- amount input -->
                <ion-item lines="none">
                    <ion-label>Amount</ion-label>
                    <ion-input class="input" formControlName="sum" placeholder="Enter the amount of money">
                        <ion-icon name="logo-usd"></ion-icon>
                    </ion-input>
                </ion-item>

                <!-- radio process
                    <ion-list lines="none">
                        <ion-radio-group formControlName="process" >
                            <ion-item>
                                <ion-label>deposit</ion-label>
                                <ion-radio slot="start" value="0"></ion-radio>
                            </ion-item>
        
                            <ion-item>
                                <ion-label>withdraw</ion-label>
                                <ion-radio slot="start" value="1"></ion-radio>
                            </ion-item>
                        </ion-radio-group>
                    </ion-list> -->

                <!-- button -->
                <ion-button class="button" type="submit" expand="block" [disabled]="!transactionForm.valid">Process
                </ion-button>
            </form>
        </ion-col>
    </ion-row>
</ion-content>