h6 {
    padding: 0px;
    margin: 0px;
}

.button {
    --background: #000;
    --border-radius: 10px;
    --color: white;
    --font-size: 70px;
    margin-top: 20px;
}

.input {
    background-color: #ffffff;
    // width: 70%;
    border-radius: 10px;

    color: black;
    font-size: 14px;
    border: none;
    box-shadow: 0px 0px 10px -10px #030303;
    text-indent: 15px;
}

.wallet-option {
    min-width: 70%;
}

.select {
    min-width: 70%;
    position: absolute;
    right: 10px;
}
