<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Profile
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <!-- <ion-button (click)="signOut()">Sign out</ion-button>
  <ion-button (click)="getInfo()">GetInfo</ion-button> -->


  <ion-grid>
    <ion-row class="header">
      <ion-col size="5">
        <img class="image" src="../../../assets/profile.jpg" />
        <!-- <ion-avatar>
          <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
        </ion-avatar> -->
      </ion-col>
      <ion-col class="basic-info" size="7">
        <p>John Smith</p>
        <p>Somewhere, US</p>
        <p>25 years old</p>
      </ion-col>
    </ion-row>


    <ion-row class="icon-links">
      <ion-col class="icon-link">
        <a class="ion-text-center link" [routerLink]="['../coupons']"><img class="link-icon "
            src="../../../assets/wallet.png" /></a>
        <p class="ion-text-center">WALLET</p>
      </ion-col>
      <ion-col class="icon-link">
        <a class="ion-text-center link link-icon" [routerLink]="['../coupons']"><img class="link-icon"
            src="../../../assets/coupon.png" /></a>
        <p class="ion-text-center">COUPONS</p>
      </ion-col>
      <ion-col class="icon-link">
        <a class="ion-text-center link" [routerLink]="['../coupons']"><img class="link-icon"
            src="../../../assets/gallery.png" /></a>
        <p class="ion-text-center">GALLERY</p>
      </ion-col>
      <ion-col class="icon-link">
        <a class="ion-text-center link" [routerLink]="['../coupons']"><img class="link-icon"
            src="../../../assets/draw.png" /></a>
        <p class="ion-text-center">EDIT</p>
      </ion-col>
    </ion-row>

  </ion-grid>


</ion-content>