<!-- restaurant info -->
<ion-row class="user-info">
  <ion-col class="overlay">
    <ion-item lines="none">
      <ion-avatar slot="start" class="profile-picture">
        <img
          src="../../../../assets/friedsausages.jpg">
      </ion-avatar>
      <ion-label>
        <h2>Loco Grill & Steak House</h2>
        <p>
          <ion-icon name="location"></ion-icon>New York
        </p>
        <p>
          <ion-icon name="time"></ion-icon>Working hours: 10AM - 22
        </p>
        <p>
          <ion-icon name="star"></ion-icon>4.5 out of 5  
        </p>
      </ion-label>
    </ion-item>
  </ion-col>
</ion-row>