<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Coupon
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="refresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-grid *ngIf="coupon">
    <!-- restaurant info -->
    <ion-row class="user-info">
      <ion-col class="overlay ion-padding">
        <ion-item class="ion-align-items-start" lines="none">
          <ion-avatar slot="start" class="profile-picture">
            <img src="../../../../assets/friedsausages.jpg">
          </ion-avatar>
          <ion-label>
            <h2>{{coupon.vendor.name}}</h2>
            <p>
              <!-- TODO: restaurant city and state -->
              <ion-icon name="location"></ion-icon>{{coupon.nearest_restaurant.city}}, {{coupon.nearest_restaurant.state}}
            </p>
            <!-- <p>
              <ion-icon name="time"></ion-icon>Working hours: 10AM - 22
            </p> -->
            <p>
              <ion-icon name="star"></ion-icon>{{coupon.vendor.rating ? coupon.vendor.rating + ' out of 5': 'Notrated'}}
            </p>
          </ion-label>
        </ion-item>
      </ion-col>
    </ion-row>

    <!-- food info -->
    <ion-row line="inset" class="ion-padding-horizontal ion-padding-top food-info">
      <ion-col class="ion-padding-vertical ion-align-self-center" size="12">
        <img src="../../../../assets/friedsausages.jpg" class="food-img">
      </ion-col>
      <ion-col class="ion-padding-top" size="12">
        <p class="food-name">{{coupon.name}}</p>
      </ion-col>
      <ion-col size="12">
        <p class="food-desc">{{coupon.desc}}</p>
      </ion-col>
      <ion-col size="12">
        <hr class="brr">
      </ion-col>
      <ion-col size="6" class="expiration-text">
        <p *ngIf="coupon.exp_date">Expires on {{coupon.exp_date}}</p>
      </ion-col>
      <ion-col size="6" class="ion-text-end total">
        <ion-text>Total price: {{coupon.price}}$</ion-text>
      </ion-col>
    </ion-row>

    <!-- options -->
    <ion-row>
      <!-- <ion-col class="ion-padding-horizontal" size="12">
        <p class="ion-float-left">{{coupon.short_desc}}</p>
        <div class="price ion-float-right">
          <p class="old-price">45.99</p>
          <p class="new-price">{{coupon.price}}$</p>
        </div>
      </ion-col> -->


      <!-- <ion-col class="ion-padding-horizontal">
        <ion-list lines="none">
          <ion-radio-group ngDefaultControl>
            <p style="margin: 0px;">Extra options:</p>
            <ion-item>
              <ion-label>Option 1</ion-label>
              <ion-radio slot="start" value="1"></ion-radio>
              <p class="price">+3$</p>
            </ion-item>

            <ion-item lines="full">
              <ion-label>Option 2</ion-label>
              <ion-radio slot="start" value="0"></ion-radio>
              <p class="price">+5$</p>
            </ion-item>
          </ion-radio-group>
        </ion-list>
        <p class="total">Total price: 35$</p>
      </ion-col> -->

    </ion-row>
    <ion-row class="ion-align-items-center button-align button-row">
      <ion-col class="ion-text-center" size="9">
        <ion-button expand="block" class="button" (click)="purchase()">Buy Now</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>