<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Wallet
    </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>




  <ion-row class=" ion-padding-horizontal">
    <ion-col>
      <ion-list>
        <ion-list-header *ngIf="infos?.length == 1"> Your card</ion-list-header>
        <ion-list-header *ngIf="infos?.length > 1">Your cards</ion-list-header>

        <ion-item *ngFor="let info of infos">
          <ion-avatar slot="start">
            <ion-icon color="dark" name="card"></ion-icon>
          </ion-avatar>
          <ion-label>
            <h2>{{info.name}} {{info.surname}}</h2>
            <p>xxxx xxxx xxxx {{info.digits}}</p>
            <h4 class="card-type">{{info.cardType}}</h4>
          </ion-label>
        </ion-item>

      </ion-list>
    </ion-col>
  </ion-row>



  <ion-row>
    <ion-col>
      <h2>Available</h2>
    </ion-col>
  </ion-row>

  <ion-row class="ion-justify-content-between ion-align-items-center ion-padding-horizontal item-content">
    <ion-col size="5">
      <h3>
        <ion-icon class="ion-margin-end" color="warning" name="wallet"></ion-icon> 625$
      </h3>
    </ion-col>
    <ion-col size="4">
      <ion-button class="button" expand="block" type="submit">TOP UP </ion-button>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col>
      <h2>Transactions</h2>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col>
      <ion-item>
        <ion-avatar class="ion-margin-end">
          <ion-icon color="secondary" name="basket"></ion-icon>
        </ion-avatar>
        <ion-label>
          <h2>C&C Bellisimo</h2>
          <h3>Coupon with 20% discount - dinner for two</h3>
        </ion-label>
      </ion-item>

      <ion-item>
        <ion-avatar class="ion-margin-end">
          <ion-icon color="secondary" name="logo-usd"></ion-icon>
        </ion-avatar>
        <ion-label>
          <h2>C&C Bellisimo</h2>
          <h3>Coupon with 20% discount - dinner for two</h3>
        </ion-label>
      </ion-item>
    </ion-col>
  </ion-row>
</ion-content>